doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

  nav 
    a(href="http:/") Home
    a(href="http:/services") Our Services
    a(href="http:/contact") Contact Us

  block content


  footer 
    hr
    copyright &copy; Adeoluwa Idowu Senior Senior Agba Dev 2023